@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");

:root {
    --bg-color: hsl(210 25% 20%);
    --bg-color-opaque: rgba(38, 51, 64, 0.8);
    --secondary-color: hsl(210 20% 60%);
    --primary-color: hsl(210 45% 80%);
    --neutral-color: hsl(210 60% 90%);
    --accent-color: hsl(30 45% 80%);
    --line-height: 1.7;
}

[data-theme="light-mode"] {
    --bg-color: hsl(210 10% 94%);
    --bg-color-opaque: rgba(238, 240, 241, 0.8);
    --secondary-color: hsl(210 20% 60%);
    --primary-color: hsl(210 45% 35%);
    --neutral-color: hsl(210 60% 20%);
    --accent-color: hsl(30 45% 60%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--bg-color);
    color: var(--primary-color);
    font-size: 100%;
}

body {
    font-family: "IBM Plex Mono", Courier;
    font-size: 0.9375rem;
    letter-spacing: -0.4px;
    margin: 4rem 0;
}

@media only screen and (max-width: calc(720px + 2rem)) {
    body {
        margin: 2rem 0;
    }
}

header h1 {
    color: var(--accent-color);
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 2rem;
}

@media only screen and (max-width: calc(720px + 2rem)) {
    header h1 {
        font-size: 1.25rem;
    }
}

div:has(h1):has(#progress) {
    display: flex;
    justify-content: space-between;
}

header,
main,
footer {
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 1rem;
}

strong {
    color: var(--accent-color);
}

.personal-link-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.1);
    color: var(--neutral-color);
}

#save_list_form button {
    background: none;
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
}

#copy_url {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-left: 1rem;
    text-decoration: underline;
}

#copy_url.copied {
    text-decoration: none;
}

#url {
    color: var(--accent-color);
}

main {
    line-height: var(--line-height);
}

ul {
    list-style-type: none;
}

li.film {
    display: flex;
}

header p {
    color: var(--neutral-color);
    line-height: var(--line-height);
}

header p:not(p:last-of-type) {
    margin-bottom: 1rem;
}

header p:last-of-type {
    margin-bottom: 2rem;
}

li > div {
    cursor: pointer;
    display: inline-block;
}

li > div[data-watched="true"] {
    text-decoration: line-through;
    text-decoration-color: var(--secondary-color);
    opacity: 0.5;
}

li > div[data-watched="true"] > span.info {
    color: var(--secondary-color);
}

span.ranking {
    color: var(--neutral-color);
    margin-right: 1ch;
}

span.director {
    color: var(--secondary-color);
}

a.fancy-link {
    color: var(--primary-color);
    line-height: var(--line-height);
}

button#theme_toggler {
    cursor: pointer;
    /* position: fixed; */
    right: 1rem;
    bottom: 1rem;
    background: var(--bg-color);
    border: none;
    color: var(--accent-color);
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
}

footer p {
    line-height: var(--line-height);
}

footer button {
    margin-bottom: 2rem;
}

footer a {
    color: var(--accent-color);
}
