<!DOCTYPE html>
<html lang="en" data-theme="dark-mode">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="hsl(210 25% 20%)">
        <link rel="icon" href="{{ url_for('static', filename='icons/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        {% if not user_list %}
            <title>The AFI 100 Challenge | yess.lol</title>
        {% else %}
            <title>{{ user_list.name }} | yess.lol</title>
        {% endif %}

        {% if user_list %}
            <script src="https://unpkg.com/htmx.org@2.0.4"></script>
            <script src="{{ url_for('static', filename='js/progress.js') }}" defer></script>
            <script src="{{ url_for('static', filename='js/clipboard.js') }}" defer></script>
            <script src="{{ url_for('static', filename='js/settings.js') }}" defer></script>
        {% endif %}

        {% if not user_list %}
            <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
        {% endif %}

        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    </head>
    <body {% if user_list %} data-list-id="{{ user_list.id }}"  {% endif %}>
        <header>
            <div>
                {% if not user_list %}
                    <h1>The AFI 100 Challenge</h1>
                {% else %}
                    <h1>{{ user_list.name }}</h1>
                {% endif %}

                {% include "progress.html" %}
            </div>

            {% include "info.html" %}

            {% if not user_list %}
                <button id="save_list_button">Save my list!</button>
                <dialog id="save_list_dialog">
                    <form id="save_list_form" action="/save-list" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <h2>Give your list a name</h2>
                        <p>Enter a name for your list in the input box below. If you'd like to use the default name, leave the input box empty.</p>
                        <input type="hidden" name="watched_film_ids" id="watched_film_ids_input">
                        <input type="text" name="custom_list_name" placeholder="The AFI 100 Challenge" autocomplete="off" autofocus>
                        <button formmethod="dialog">Cancel</button>
                        <button type="submit">Create my list!</button>
                    </form>
                </dialog>
            {% endif %}
        </header>
        <main>
            <ul>
                {% for film in films %}
                    <li class="film" data-film-id="{{ film.id }}">
                        <span class="ranking">{{ film.id }}.</span>
                        {% include "film.html" %}
                    </li>
                {% endfor %}
            </ul>
        </main>

        <footer>
                <ul class="settings">
                    <h2>Settings:</h2>
                    <li>
                        <button id="theme_toggler">Switch to light mode</button>
                    </li>

                    {% if user_list %}
                        <li>
                            <button id="change_list_name_button">Change list name</button>
                            <dialog id="change_list_name_dialog">
                                <form id="change_list_name_form" action="/change-list-name/{{ user_list.id }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <h2>Change your list a name</h2>
                                    <p>Enter a name for your list in the input box below. If you'd like to use the default name, leave the input box empty.</p>
                                    <input id="change_list_name_input" type="text" name="new_list_name" placeholder="The AFI 100 Challenge" autocomplete="off" autofocus>
                                    <button formmethod="dialog">Cancel</button>
                                    <button type="submit">Change it!</button>
                                </form>
                            </dialog>
                        </li>
                        <li>
                            <button id="delete_list_button">Delete this list</button>
                            <dialog id="delete_list_dialog">
                                <form action="/delete-list/{{ user_list.id }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <h2>Delete this list</h2>
                                    <p>Are you sure you want to delete this list? There's no going back.</p>
                                    <button formmethod="dialog">Cancel</button>
                                    <button type="submit">Delete it!</button>
                                </form>
                            </dialog>
                        </li>
                    {% endif %}
                </ul>

            <p>Brought to you by <a href="https://yess.lol">yess.lol</a>.</p>
        </footer>
    </body>
</html>
